{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
Hello authenticated user .Here are your dashboards
{% else %}

<div class="mt-4">
    <h2 class="text-center">Issue Tracker 3.0</h2>
    <h3 class="text-center">Reason Why?</h3>
</div>
<div class="row reason-why mt-5">
    <div class="col-sm-12 col-lg-3">
     <div class="text-center">
         <i class="fas fa-users"></i>
     </div>
     <p class="mt-3"> Work together with your team mates on your favourite project. Always stay on the same page</p>
    </div>
    <div class="col-sm-12 col-lg-3">
     <div class="text-center">
         <i class="fas fa-smile"></i>
     </div>
     <p class="mt-3"> It's userfriendly and simple to use. Add bugs and feature requests in one easy step</p>
    </div>
    <div class="col-sm-12 col-lg-3">
     <div class="text-center">
         <i class="fas fa-shapes"></i>
     </div>
     <p class="mt-3"> Flexible and intuitive. Works well with any project</p>
    </div>
    <div class="col-sm-12 col-lg-3">
     <div class="text-center">
         <i class="fas fa-box-open"></i>
     </div>
     <p class="mt-3">Out of the box solution ready to use with all the good stuff that you need</p>
    </div>
</div>
<div class="text-center mt-5">
    <h2>Sounds good?</h2>
    <p >Try it yourself it's totally</p>
    <p>FREE</p>
    <a class="btn btn-primary mt-3" href="{% url 'registration' %}" role="button"  style="margin:0 auto;">Try it Now</a>
</div>

{% endif %}

{% endblock %}