{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}
{% block page_heading %} Password Reset {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-auto">
            <div class="text-center">
                <i class="far fa-envelope fa-icon__big text-success"></i>
            </div>
        </div>
        <div class="mt-3 col-12 col-md-8">
            <p>If there is an account associated with this email address, you have been sent the instructions for
                password reset. You should be receiving it shortly.</p>
        </div>
    </div>
{% endblock %}