{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <div  class="mr-auto ml-auto col-xs-12 col-md-6">

        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        </div>
        <form action="" method="post" class="accountform mt-5 mr-auto ml-auto col-xs-12 col-md-6 clearfix">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            {{ form | crispy }}

            <button class=" btn btn-success float-right" type="submit">Change Password</button>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}