{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}
{% block page_heading %} Complete {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-auto">
            <div class="text-center">
                <i class="fas fa-check fa-icon__big"></i>
            </div>
        </div>
        <div class="mt-3 col-12 col-md-8">
            <p> Your password reset has been completed successfully. You can now use the new password</p>
        </div>
    </div>
{% endblock %}