{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Reset Password Page{% endblock %}

 {% block page_heading %}Reset Password{% endblock %}

{% block content %}

    <form method="POST" class="mt-5 mr-auto ml-auto col-xs-12 col-md-6 clearfix">

    <p>Please enter your email address. If we have your record in our database you will shortly receive an email with all the instructions.</p>
        {% csrf_token %}

        {{ form | crispy }}
        <button class=" btn btn-success float-right col-xs-12 col-md-4" type="submit">Reset Password</button>
    </form>

{% endblock %}