{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Add Ticket{% endblock %}
{% block page_heading %} Add Ticket{% endblock %}

{% block content %}

    <form method="POST" class="mt-1 mt-md-3 mr-auto ml-auto clearfix" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-xs-12 col-md-6">
                {{ add_ticket_form.title | as_crispy_field }}
            </div>
            <div class="form-group col-xs-12 col-md-3">
                {{ add_ticket_form.type | as_crispy_field }}
            </div>
            <div class="form-group col-xs-12 col-md-3">
                {{ add_ticket_form.label | as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class=" form-group col">
                {{ add_ticket_form.description | as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class=" form-group col">
                {{ add_ticket_form.image | as_crispy_field }}
            </div>
        </div>
        {% if add_ticket_form.errors %}
                    <div class="alert alert-danger">
                        {{ add_ticket_form.image.errors }}
                    </div>
        {% endif %}
        <button class="btn btn-success float-right mt-3" type="submit">Submit</button>
    </form>

{% endblock %}