{% extends 'base.html' %}
{% block page_title %}Ticket Details{% endblock %}
{% load crispy_forms_tags %}
{% load initialavatar %}

{% block content %}
    <!--Title & Badges-->
    <div class="row mt-4 mt-md-5">
        <div class="col-sm-12 col-md-auto">
            <h3 class="card-title">{{ ticket.title }}</h3>
        </div>
        <div class="col-sm-12 col-md-auto">
            <span class="badge badge-secondary badge-pill ml-2">{{ ticket.status }}</span>
            {%  if ticket.type == 'bug' %}
                <span class="badge badge-pill badge-danger ml-2">{{ ticket.type }}</span>
            {%  elif ticket.type == 'feature' %}
                <span class="badge badge-pill badge-success ml-2">{{ ticket.type }}</span>
            {% endif %}
            {%  if ticket.label == 'design' %}
                <span class="badge badge-pill badge-warning ml-2">{{ ticket.label }}</span>
            {%  elif ticket.label == 'functionality' %}
                <span class="badge badge-pill badge-info ml-2">{{ ticket.label }}</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <span class="mr-3 text-secondary">Author: {{ ticket.user }}</span>
            <span class="text-secondary"> Created: {{ ticket.creation_date }} </span>
            <span class="float-right">Votes: {{ ticket.score }}</span>
        </div>
    </div>
    <hr>
    <!-- Image & description -->
    <div class="row mt-3">
        {% if ticket.image %}
            <div class="col-12 col-md-8">
                <img class="img-fluid" src="{{ ticket.image.url }}"/>
            </div>
        {% endif %}
        <div class="col-12 col-md mt-3 mt-md-0">
            <h5>Description</h5>
            <p>{{ ticket.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-auto ml-auto">
            <!-- If it is a feature voting for it will require confirmation from module -->
            {% if ticket.type == 'feature' %}
            <!-- Button trigger modal -->
            <span class="ticket-vote text-success" data-toggle="modal" data-target="#modal"><i class="fas fa-plus-circle mr-2"></i>UpVote</span>
            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <p><i class="far fa-question-circle fa-question-circle-modal text-black-50"></i></p>
                            <p>A payment of <strong class="text-success">15 EUR</strong> is required to vote for a feature</p>
                            <p>Would you like to proceed to cart?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-success" href="{% url 'upvote' ticket.id %}" role="button">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                 <a href="{% url 'upvote' ticket.id %}" class="ticket-vote text-success"><i class="fas fa-plus-circle mr-2"></i>UpVote</a>
            {% endif %}
        </div>
    </div>
    <hr/>
    <!-- Comments -->
    <h5 class="text-center">Comments</h5>
    {% for comment in comments %}
        <div class="row">
            <div class="col-md-2">
                <div class="row d-none d-md-flex">
                    {% if comment.user.userprofile.avatar %}
                        <div class="img-container rounded-circle ml-auto mr-auto"
                             style="background-image: url('{{ comment.user.userprofile.avatar.url }}'); background-size: cover; background-repeat: no-repeat; height:64px;width:64px">
                        </div>
                    {% else %}
                        <div class="img-container ml-auto mr-auto">
                            {% get_initial_avatar comment.user 64 'circle' %}
                        </div>
                    {% endif %}
                </div>
                <div class=" comment-author row text-muted">
                    <span class="d-none d-md-inline-block mr-md-auto ml-md-auto">{{ comment.user.username }}</span>
                </div>

            </div>
            <div class="col-md-10 comment-content">
                <p>{{ comment.content }}</p>
                <p class="text-right text-muted">
                    <small class=" mr-2 mr-md-0 comment-date">
                        <span class="d-inline d-md-none text-left">{{ comment.user.username }},</span> {{ comment.creation_date }}
                    </small>
                </p>
            </div>
        </div>
        <hr>
    {% endfor %}
    <h5 class="text-center mt-4">Add a comment:</h5>
    <form method="POST" class="mr-auto ml-auto col-xs-12 col-lg-8 border-0 clearfix">
        {% csrf_token %}
        {{ add_comment_form | crispy }}
        <button class="btn btn-success float-right mt-3" type="submit">Add Comment</button>
    </form>
{% endblock %}
