{% extends 'base.html'%}
{% block page_title %}Cart{% endblock %}
{%block content%}

<h2 class="mt-3">Cart</h2>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticket Title</th>
      <th scope="col">Type</th>
      <th scope="col">Label</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{item.ticket.title}}</td>
      <td>{{item.ticket.type}}</td>
      <td>{{item.ticket.label}}</td>
      <td><a class="remove-item" href="{% url 'delete_product' item.ticket.id %}"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="row">
    <span class="mr-md-5 ml-auto">Total:<strong class="ml-1">{{total_value}} EUR</strong></span>
</div>

<div class="row mt-4">
    <a href="{% url 'checkout' %}" class="btn btn-success ml-auto" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{%endblock%}